body{
  background-image: url('./assets/fin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
  margin-left: 4rem;
  margin-right: 3rem;
  font-family: 'Epilogue', sans-serif;
  
  
}
